doctype
html
    head
        title Cycle Morphic
    body
        main.container#root !{APP}
        script(type="text/javascript").
            window.CTX$ = !{CTX}
        script(type="text/javascript", src="./app.bundle.js")    
        
